.about {
    min-height: 75vh;
    padding: 176px;
    background-color: #66b7c2;
}

.about img {
    height: auto;
    width: 550px;
}

.about-text {
    width: 750px;
}

.main {
    width: 2000px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
}

.about-text h5 {
    color: rgb(196, 143, 46);
    font-size: 35px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    color: rgb(68, 68, 3);
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: rgb(196, 143, 46);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}

button:hover {
    background: transparent;
    border: 2px solid orange;
    cursor: pointer;
}

/* Navigation bar */
nav {
    width: 100%;
    margin: 0 auto;
    padding: 40px 100px;
    height: 60px;
    max-width: 2350px;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.6s;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: teal;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;

}
nav ul li:hover::after {
    width: 100%;
}

nav.logo {
    position: relative;
    font-weight: 700;
}

nav.sticky {
    padding: 5px 100px;
    background: skyblue;
}

nav.sticky ul li a {
    color:rgb(199, 21, 8);
}

nav .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.action_btn {
    border: none;
    background: rgb(208, 220, 88);
    padding: 12px 25px;
    border-radius: 30px;
    color: red;
    font-weight: 500px;
    font-size: 15px;
    transition: 0.4s;
}

.action_btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.btn {
    border: 1px solid rgb(199, 21, 8);
    background: teal;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
}

.btn1, .btn2 {
    color: rgb(209, 39, 16);
}

.btn1:hover, .btn2:hover {
    color:rgb(166, 167, 167);
}

.menu-item {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
}

li a:hover {
    color: lightgreen;
}

a:visited {
    color: powderblue;
}

a:visited {
    color: teal;
}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 85px;
    height: 0;
    width: 300px;
    background: rgb(35, 38, 80);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 230px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    color: lightgreen;
}

.dropdown_menu li a:hover {
    color: rgb(208, 220, 88);
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Footer */
.footer {
    background-color: lightblue;
    color:#009688;
}

.footer-content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: skyblue;
}

.pic {
    float: left;
    margin-right: 30px;
}

.content-wrap {
    float: left;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i { 
    font-size: 2em;
    color: black;
    opacity: 0.9;
} 

.socialIcons a:hover {
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    list-style: none;
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
  
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: black;
}

.designer {
    opacity: 0.7;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}