
.gallery {
    position: relative;
    min-height: 100vh;
    padding: 50px 0px;
    background: url(../img/gallerybg.png);
    background-size: cover;

}

.gallery .head h2 {
    text-align: center;
    padding: 50px 100px;
    margin-top: 245px;
    font-size: 52px;
    font-weight: 500;
    color: rgb(208, 220, 88);
}



.gallery .img-gallery {
    
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;

}

.gallery .img-gallery img {
    width: 100%;
    cursor: pointer;
}

 .gallery .img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68,77,136,0.2);
}



.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;

}

 .full-img span{
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 110px;
    color: #a06d6d;
    cursor: pointer;
}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 85px;
    height: 0;
    width: 300px;
    background: rgb(114, 113, 113);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 230px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    color: lightgreen;
}

.dropdown_menu li a:hover {
    color: rgb(208, 220, 88);
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}