.group {
    position: relative;
    min-height: 100vh;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/servicebg.png);
    background-size: cover;
}

.group h1 {
    text-align: center;
    padding-top: 0%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.group h1::after {
    content: '';
    background: skyblue;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: skyblue;
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.service:hover {
    background: skyblue;
    color: #fff;
    transform: scale(1.05);
}

.service:hover i {
    color: #fff;

}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 85px;
    height: 0;
    width: 300px;
    background: rgb(50, 87, 117);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 230px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    color: lightgreen;
}

.dropdown_menu li a:hover {
    color: rgb(208, 220, 88);
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}