*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), 
    url("../img/BarberXShop.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.logo {
    width: 300px;
    cursor: pointer;
    align-items: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 40px 100px;
    height: 60px;
    max-width: 2350px;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.6s;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: teal;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;

}
nav ul li:hover::after {
    width: 100%;
}

nav.logo {
    position: relative;
    font-weight: 700;
}

nav.sticky {
    padding: 5px 100px;
    background: teal;
}

nav.sticky ul li a {
    color:rgb(199, 21, 8);
}

nav .toggle_btn {
    color: (199, 21, 8);
    font-size: 1.5rem;
    cursor: pointer;
}

.action_btn {
    border: none;
    background: rgb(208, 220, 88);
    padding: 12px 25px;
    border-radius: 30px;
    color: red;
    font-weight: 500px;
    font-size: 15px;
    transition: 0.4s;
}

.action_btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.btn {
    border: 1px solid rgb(199, 21, 8);
    background: teal;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
}

.btn1, .btn2 {
    color: rgb(209, 39, 16);
}

.btn1:hover, .btn2:hover {
    color:rgb(166, 167, 167);
}

.menu-item {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
}

li a:hover {
    color: lightgreen;
}

a:visited {
    color: powderblue;
}

a:visited {
    color: teal;
}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 85px;
    height: 0;
    width: 300px;
    background: rgb(24, 56, 24);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*RESPONSIVE DESIGN*/
@media(max-width: 992px) {
    nav ul, .action_btn {
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 3rem;
    margin: 0; 
}

.content h2 {
    color: #009688;
    font-size: 3rem;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/* Forms */

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    color: lightblue;
}

input[type=submit] {
    background-color: #009688;
    color: white;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: aquamarine;
}

.contact-container {
    background-color: grey;
    padding: 25px;
}

.column {
    float: left;
    width: 33.33%;
    background: skyblue;
}
.footer {
    background-color: lightblue;
    padding: 15px;
    color:#009688;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: skyblue;
}

.footer-bottom {
    background-color: skyblue;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    font-size: 1.0rem;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff; 
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: lightblue;
}