*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    height: 100%;
    background: #fff
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), 
    url("../img/BarberXShop.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
   
}

.logo {
    width: 90px;
    cursor: pointer;
    align-items: center;
}
/* Navigation bar */
nav {
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
    height: 60px;
    max-width: 2620px;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.6s;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    position: relative;
    margin: 0px 45px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: teal;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;

}
nav ul li a:hover::after {
    width: 100%;
}

nav.logo {
    position: relative;
    font-weight: 700;
}

nav.sticky {
    padding: 5px 60px;
    background: #4C1C24;
}

nav.sticky ul li a {
    color:rgb(199, 21, 8);
}

  .toggle_btn {
    width: 5%;
    color: rgb(199,21,8);
    font-size: 1.5em;
    margin-right: 70px;
    float: right;
    cursor: pointer;
}

.action_btn {
    border: none;
    background: rgb(208, 220, 88);
    padding: 12px 25px;
    border-radius: 30px;
    color: red;
    font-weight: 500px;
    font-size: 15px;
    transition: 0.4s;
}

.action_btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.btn {
    border: 1px solid rgb(199, 21, 8);
    background: teal;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.5s;
}

.btn1, .btn2 {
    color: rgb(209, 39, 16);
}

.btn1:hover, .btn2:hover {
    color:rgb(166, 167, 167);
}

.menu-item {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
}

li a:hover {
    color: lightgreen;
}

a:visited {
    color: powderblue;
}

a:visited {
    color: teal;
}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 3rem;
    margin: 0; 
}

.content h2 {
    color: rgb(199, 21, 8);
    font-size: 3rem;
}

.content p {
    display: block;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 25px;
    color:rgb(199, 21, 8);
}

/* DROPDOWN MENU */
 .dropdown_menu {
    position: absolute; 
    right: 10rem;
    top: 105px;
    height: 0;
    width: 300px;
    background: rgb(109, 8, 8);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 230px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    color: lightgreen;
}

.dropdown_menu li a:hover {
    font-weight: 700;
    color: rgb(208, 220, 88);
}

.dropdown_menu li a:hover::after {
    display: inline-block;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Forms */

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    color: lightblue;
}

input[type=submit] {
    background-color: #009688;
    color: white;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: aquamarine;
}

.contact-container {
    background-color: grey;
    padding: 25px;
}

.column {
    float: left;
    width: 33.33%;
    background: skyblue;
}

/* Footer */

footer {
    display: block;
}

.footer-content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #4C1C24;
    
}

.pic {
    float: left;
    margin-right: 30px;
}

.content-wrap {
    float: left;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i { 
    font-size: 2em;
    color: black;
    opacity: 0.9;
} 

.socialIcons a:hover {
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    list-style: none;
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
  
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: black;
}

.designer {
    opacity: 0.7;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* Products */

.products {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #811008;
    overflow-x: clip;
}

.products h1 {
    text-align: center;
    margin-bottom: 120px;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 5px;
    font-family: 'Oswald', sans-serif;
}

.product-list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 30px;
}

.product-list:after {
    display: table;
    content: "";
    width: 25%;
    padding: 20px;
    clear: both;
}

.product-title {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.product-items {
    float: left;
    width: 25%;
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.product-items:hover {
    transform: scale(1.05);
}

.product-image {
    display: inline;
    flex-shrink: inherit;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    
}

.product-price {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: rgb(160, 160, 40);
}

ul {
    list-style: none; 
 }
 
 .add-to-cart {
     padding: 10px 20px;
     color: #fff;
     background-color: #007bff;
     border: none;
     border-radius: 5px;
     cursor: pointer
 }

/*Second Transition*/

.section-background { 
    display: flex; 
    overflow: hidden;
}

.section-background img {
    object-fit: cover;
    object-position: top center;
    width: 100%;
    max-height: 80vh;
}

img {
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}


/* Testimonials */

.testimonials {
    padding: 40px 0;
    background: rgb(177, 145, 78);
    color: black;
    text-align: center;
    overflow-x: hidden;
}

.test-title {
    font-family: 'Oswald', sans-serif;;
    font-size: 2em;
    letter-spacing: 3px;
    
}

.testimonials p {
    font-style: italic;
}
.test-inner {
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.test-border {
    background: rgb(177, 145, 78);
    margin: 26px auto;
}

.test-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test-col {
    flex: 33.33%;
    box-sizing: border-box;
    padding: 15px 100px;
}

.testimonial {
    background: #fff;
    padding: 30px 150px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    margin: 20px 0;
}

.stars {
    color: #6ab04c;
    margin-bottom: 20px;
}
/* RESPONSIVE DESIGN */

 /* Currently working on THIS */ 
 
 @media only screen and (max-width: 1536px) {
   
   
 nav ul {
        display: none;
    }

 }

@media only screen and (max-width: 858px) {

    .col {
        flex: 80%;
        max-width: 60%;
    }

    .toggle_btn {
        display: block;
    }

}